.tabsContainer {
  background-color: #ffffff;
  color: inherit;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
  border-radius: 5px;
}

.tabsContent {
  overflow: hidden;
  margin: 15px 0px;
}

.tabNav {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  background: none;
  border: none;
  margin-left: 2px;
  background-color: #F2F2F2;
  background: #2f4050;
  padding: 8px 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
}
