body {
  margin: 0;
  width: 100%;
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  color: #757575;
  font-weight: 400;
}

h1 {
  font-size: 2.8125rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 14px;
}

p {
  line-height: 1.6;
}

/* We can't use glamorous for this because of restrictions by react-dnd */
.phase {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(25% - 26px);
  margin-top: 24px;
  margin-bottom: 24px;
  border-right: 2px solid #E0E0E0;
}

.phase:last-child {
  border-right: 0;
}

.state {
  max-width: calc(33.33333333% - 4px);
  border-left: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
  flex: 1;
}

.state:first-child,
.state:last-child {
  max-width: 33.33333333%;
  border: 0;
}

.state.collapsed {
  min-width: 100%;
  max-width: 100%;
  border: 0;
}

.fix-textarea textarea:last-child {
  height: 24px !important;
}

.fix-border * {
  border-color: #BDBDBD !important;
}
